

<template name="insertStageForm">
  {{> quickForm collection="Stages" id="updateStageForm" type="insert"}}
</template>


<template name="insertContainerForm">
  {{> quickForm collection="Containers" id="insertContainerForm" type="insert"}}
</template>


<template name="insertInstanceForm">
  {{> quickForm collection="Instances" id="insertInstanceForm" type="insert"}}
</template>


<template name="listTemplates">
	<table class="ui selectable celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Preview</th>

    </tr>
  </thead>
  <tbody>

  	{{#each template}}
    <tr class="rowsel" id="row_{{_id}}">
      <td>{{name}}</td>
      <td>{{{compiled}}}</td>
    </tr>
    {{/each}}
    
  </tbody>
</table>

</template>



<template name="updateContainerForm">
  {{> quickForm collection="Containers" doc=this id="updateContainerForm" type="update"}}
</template>