html,body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: Sans-serif;
}

#__blaze-root {
  height: 100%;
  width: 99%;
}


.shiner-dark {
  background-color: #BCBEC0;
}

.sh-drop-item {

}


.sh.padr10 {
  padding-right: 10px;
}

.point {
  cursor: pointer;
}

.sh-prev-cont {
  background-color: #fff;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.sh-item {
  padding-top: 5px;
}

.sh-menu {
  padding-bottom: 20px;
}

.sh-submenu {
  display: block;
  padding-left: 20px;
  color: #4183C7;
}

.sh-group {
  padding-top: 5px;
}