<head>
  <title>shiner</title>
<!--   <link rel="stylesheet" type="text/css" class="ui" href="/bower_components/split-pane/split-pane.css">
  <script src="/bower_components/split-pane/split-pane.js"></script> -->
</head>

<template name="home">
	<div class="ui three column grid">
  		{{#each apps}}
  			<div class="column app">
  				<h1 class="ui header">{{name}}</h1>
  				{{{compiled}}}
  			</div>
			{{/each}}
  </div>
</template>

<template name="header">
  {{#each css}}
    <link rel="stylesheet" type="text/css" href="{{this.[0]}}">
  {{/each}} 
  {{#each js}}
    <script src="{{this.[0]}}"></script>
  {{/each}}                                                                                                                                                                                                                 
</template>