<head>
  <title>shiner</title>
<!--   <link rel="stylesheet" type="text/css" class="ui" href="/bower_components/split-pane/split-pane.css">
  <script src="/bower_components/split-pane/split-pane.js"></script> -->
  <link rel="stylesheet" href="/bower_components/zino-splitter/themes/silver/zino.core.css">
<link rel="stylesheet" href="/bower_components/zino-splitter/themes/silver/zino.splitter.css">
<script src="/bower_components/zino-splitter/zino.position.min.js"></script>
<script src="/bower_components/zino-splitter/zino.draggable.min.js"></script>
<script src="/bower_components/zino-splitter/zino.splitter.min.js"></script>
<style type="text/css">
#splitter{
    height: 1000px;
    width: 100%; 
    background-color: #fff;
}
.splitter-west{
    background-color: #eee;
}
.splitter-east{
    background-color: #fff;
}
</style>
</head>

<template name="home">
	<div class="ui three column grid">
  		{{#each apps}}
  			<div class="column app">
  				<h1 class="ui header">{{name}}</h1>
  				{{{compiled}}}
  			</div>
			{{/each}}
  </div>
</template>

<template name="header">
  {{#each css}}
    <link rel="stylesheet" type="text/css" href="{{this.[0]}}">
  {{/each}} 
  {{#each js}}
    <script src="{{this.[0]}}"></script>
  {{/each}}                                                                                                                                                                                                                 
</template>