<template name="container">
  <br><br>
  <div id="stage">
    {{> Contain}}

    <div class="ui container">
       
      </div>

      <div id="model-container"></div>
  </div>
  <div class="stickybuttons">
    {{> buttons}}
  </div>
  <div class="stickytemps">
    {{> templateMenu}}
  </div>
  {{> modaladd}}
</template>

<template name="buttons">
  <a class="sh point padr10" id="addCont">+</a>
  <a class="sh point padr10" id="addContP">+P</a>

  <a class="sh padr10" href="/source/html/{{appname}}/{{page}}" target="_blank">
    &lt;&gt;
  </a>
  <a class="sh padr10" href="/source/json/{{appname}}/{{page}}" target="_blank">
    json
  </a>
  <a class="sh padr10" href="/source/meteor/{{appname}}/{{page}}" target="_blank">
    meteor
  </a>
  <a class="sh padr10" href="/preview/{{appname}}/{{page}}" target="_blank">
    preview
  </a>
  <div class="pagelinks">
    {{#each pagelinks}}
      <a class="sh padr10" href="/container/{{appname}}/{{this.name}}">{{this.name}}</a>
    {{/each}}
  </div>

  <br>
</template>



<template name="Contain">

  {{#each containers}}
    <div id="{{_id}}" class="dropzone"><legend>{{name}}</legend>
      <button class="sh-btn upT" id="u_{{_id}}">⇧</button>
      <button class="sh-btn downT" id="d_{{_id}}">⇩</button>
      <button class="sh-btn delT" id="x_{{_id}}">➖</button>
      <button class="sh-btn cloneT" id="c_{{_id}}">⚫</button>
      {{#each this.instances}}
        <div class="editable" id="c_{{_id}}">
          {{{compiled}}}
        </div>
      {{/each}}
    </div>
  {{/each}}
</template>

<template name="templateMenu">
  <div id="secSide">
      <div id="listSee">{{{chosenTemplates}}}</div>
  </div>
</template>