.stickybuttons {
	position: fixed;
	top: 0;
  margin-left: 5px;
}

.stickytemps {
	position: fixed;
	bottom: 0;
}

#model-container {
	position: fixed;
	top: 0;
	right: 200px;
}

#stage {
  margin-left: 25px;
}

#secSide {
  position: fixed;
  bottom: 0px;
  z-index: 999;
  max-height: 250px;
  max-width: 99%;
  overflow: scroll;
}

#listSee {
  display: flex;
}

.drag-drop {
  background-color: #F2F2F2 !important;
}


.delT, .upT, .downT, .cloneT {
  position: absolute;
  left: -30px;
}
.delT {
  bottom: 30px;
}
.upT {
  top: 0px;
}
.downT {
  bottom: -0px;
}
.cloneT {
  bottom: 60px;
}


.delI, .upI, .downI, .optI, .cloneI, .htmlI {
  position: absolute;
  top: -15px;
  z-index: 1999;
}
.delI {
  right: -5px;
  top: 45px;
}
.optI {
  left: -5px;
  top: 45px;
}
.upI {
  left: -5px;
}
.downI {
  right: -6px;
}
.cloneI {
  right: -6px;
  top: 15px;
}
.htmlI {
  left: -5px;
  top: 15px;
}



