<template name="container">
  <br><br>
  <div id="stage">
    {{> Contain}}

    <div class="ui container">
       
      </div>

      <div id="model-container"></div>
  </div>
  <div class="stickybuttons">
    {{> buttons}}
  </div>
  <div class="stickytemps">
    {{> templateMenu}}
  </div>
  {{> modaladd}}
</template>

<template name="buttons">
  <a class="circular ui icon" id="addCont">
    +
  </a>

  <a class="circular ui icon" id="addContP">
    +P
  </a>

  <a class="circular ui icon" href="/source/html/{{appname}}/{{page}}" target="_blank">
    &lt;&gt;
  </a>

  <a class="circular ui icon" href="/source/json/{{appname}}/{{page}}" target="_blank">
    json
  </a>

  <a class="circular ui icon" href="/source/meteor/{{appname}}/{{page}}" target="_blank">
    meteor
  </a>

  <a class="circular ui icon" href="/preview/{{appname}}/{{page}}" target="_blank">
    see
  </a>

  <div class="pagelinks">
    {{#each pagelinks}}
      <a class="circular ui icon" href="/container/{{appname}}/{{this.name}}">{{this.name}}</a>
    {{/each}}
  </div>

  <br>
</template>



<template name="Contain">

  {{#each containers}}
    <div id="{{_id}}" class="dropzone"><legend>{{name}}</legend>
      {{#each this.instances}}
        <div class="editable" id="c_{{_id}}">
          {{{compiled}}}
        </div>
      {{/each}}
        
      <button class="item mini circular ui icon button upT" id="u_{{_id}}">
            up
          </button>
      <button class="item mini circular ui icon button delT" id="x_{{_id}}">
            -
          </button>
      <button class="item mini circular ui icon button downT" id="d_{{_id}}">
        d
      </button>
    </div>
  {{/each}}
</template>

<template name="templateMenu">
  <div id="secSide">
      <div id="listSee">{{{chosenTemplates}}}</div>
  </div>
</template>