/* CSS declarations go here */

/*html,body {
  overflow:visible;
}*/

#drag-1, #drag-2 {
  width: 25%;
  height: 100%;
  min-height: 6.5em;
  margin: 10%;

  background-color: #29e;
  color: white;

  border-radius: 0.75em;
  padding: 4%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}


.dropzone {
  position: relative;
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 100%;
  min-height: 300px;
  transition: background-color 0.3s;
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.dropzone legend{
  top: -8px;
  left: -5;
}

.drop-active {
  border-color: #aaa;
  z-index: 999;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
  z-index: 999;
}

.drag-drop {
  display: inline-block;
  /*min-width: 40px; */
  padding: 0.5em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
  z-index: 999;
}

.delT, .upT, .downT {
  position: absolute;
  right: -25px;
}
.delT {
  bottom: 26px;
}
.upT {
  top: 0px;
}
.downT {
  bottom: -0px;
}

.delI, .upI, .downI, .optI {
  position: absolute;
  top: -15px;
  z-index: 1999;
}
.delI {
  right: -5px;
  top: 25px;
}
.optI {
  left: -5px;
  top: 25px;
}
.upI {
  left: -5px;
}
.downI {
  right: -6px;
}


.editable {
  position: relative;
  display: inline-block;
  padding: 0.3em 0.3em;
  background:rgba(100,100,100,0.2);
  min-height: 30px;
  min-width: 30px;
}

.template {
  min-height: 50px;
  min-width: 50px;
}


#secSide {
  position: fixed;
  bottom: 0px;
  left: 210px;
  z-index: 999;
  max-height: 60%;
  max-width: 87%;
  overflow: scroll;
}

#listSee {
  display: flex;
}

.pusher {
  overflow: auto;
}

#splitter{
    height: 100%;
    width: 100%; 
}
.splitter-west{
  background-color: #eee;
  padding-left: 5px;
}

.splitter-east{
  width: 100% !important;
  height: 100% !important;
}


.sh-prev-cont {
  background-color: #fff;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.sh-menu {
  display: block;
  padding-left: 20px;
  color: #4183C7;
}