<template name="bodyCont">
  <div id="splitter">
    <div class="splitter-west">
      {{> listFrameworks}} 
      <a class="point" id="addF">+</a>
      <div class="flex sh-group">
        <button class="sh-btn" id="addTT">✚</button>
        <button class="sh-btn" id="editForm">✎</button>
      </div>
      <div class="sh-menu">
        {{#if builder}}
          {{> listTemplates children=children}}
        {{else}}
          {{> listTemplates children=apps showbtn="true"}}
        {{/if}}
      </div>
    </div>
    <div class="splitter-east">
      {{#if appname}}
        {{#if builder}}
          <iframe frameborder="0" scrolling="auto" src="/container/{{appname}}{{#if page}}/{{page}}{{/if}}{{#if fr}}?fr={{fr}}{{/if}}" width="{{iwidth}}" height="{{iheight}}"></iframe>
        {{else}}
          <div class="sh-prev-cont" style="width:{{prevwidth}}px !important; height:{{prevheight}}px !important;">
            <iframe frameborder="0" scrolling="auto" src="/preview/{{appname}}{{#if page}}/{{page}}{{/if}}{{#if fr}}?fr={{fr}}{{/if}}" width="{{prevwidth}}" height="{{prevheight}}"></iframe>
          </div>
        {{/if}}
      {{/if}}
      
    </div>

    <!--{{> modaladd}}-->
    
  </div>  
</template>

<template name="listTemplates">
  {{#each children}}
    {{#if hasChildren }}
      <div class="sh-item">
        <div class="sh-header" id="{{_id}}">
          <span>{{name}}</span>
          {{#if showbtn}}
            <button class="sh-btn delApp">➖</button>
          {{/if}}
        </div>
        <div class="sh-submenu">
          {{> Template.dynamic template="listTemplates" data=this }}  
        </div>
      </div>
    {{else}}
      <div class="sh-item point" id="{{_id}}">
        <span>{{name}}</span>
        {{#if showbtn}}
          <button class="sh-btn delPage">➖</button>
          <button class="sh-btn toPage">➚</button>
        {{/if}}
      </div>
    {{/if}}
  {{/each}}
</template>


<template name="listFrameworks">
  <select id="frameSel">
    {{#each frameworks}}
      <option value="{{this._id}}" data-root="{{this.root}}">{{this.name}}</option>
    {{/each}}
  </select>
</template>

<template name="modaladd">
  <div class="ui modal" id="modal">
    <div class="header"></div>
    <div class="content">
      <p>
        {{#if equals tt "template"}}
        {{> insertTemplateForm}}
        {{/if}}
        {{#if equals tt "container"}}
        {{> insertContainerForm}}
        {{/if}}
        {{#if equals tt "page"}}
        {{> insertPageForm}}
        {{/if}}
        {{#if equals tt "framework"}}
        {{> insertFrameworkForm}}
        {{/if}}
      </p>
    </div>
    <div class="actions">
      <div class="ui approve button">Done</div>
      <div class="ui cancel button">Cancel</div>
    </div>
  </div>
</template>
