<template name="bodyCont">


  <div id="splitter">
    <div class="splitter-west">
      <div class="item">
        {{> listFrameworks}} 
        <button class="circular ui icon button" id="addF">
        <i class="icon plus"></i>
      </button>

      </div>
      {{> listTemplates}} 
      <button class="circular ui icon button" id="addTT">
        <i class="icon ellipsis horizontal"></i> <i class="icon plus"></i>
      </button>
      <button class="circular ui icon button" id="editForm">
          <i class="icon edit"></i>
      </button>

    </div>
    <div class="splitter-east">
      
      <iframe frameborder="0" scrolling="auto" src="/container/{{appname}}{{#if page}}/{{page}}{{/if}}" width="{{iwidth}}" height="{{iheight}}"></iframe>
      
    </div>

    {{> modaladd}}
    
  </div>  
</template>

<template name="modaladd">
  <div class="ui modal" id="modal">
    <div class="header"></div>
    <div class="content">
      <p>
        {{#if equals tt "template"}}
        {{> insertTemplateForm}}
        {{/if}}
        {{#if equals tt "container"}}
        {{> insertContainerForm}}
        {{/if}}
        {{#if equals tt "page"}}
        {{> insertPageForm}}
        {{/if}}
        {{#if equals tt "framework"}}
        {{> insertFrameworkForm}}
        {{/if}}
      </p>
    </div>
    <div class="actions">
      <div class="ui approve button">Done</div>
      <div class="ui cancel button">Cancel</div>
    </div>
  </div>
</template>


<template name="listTemplates">

  {{#each templates.children}}

    {{#if hasChildren }}
      <div class="item">
      <div class="header"  id="{{_id}}">{{name}}</div>
      <menu>
        {{> Template.dynamic template="listT" data=this }}  
      </menu>
        </div>
    {{else}}
      <a class="item" id="{{_id}}">{{name}}</a>
    {{/if}}

  {{/each}}
</template>


<template name="listFrameworks">
  <select id="frameSel">
    {{#each frameworks}}
      <option value="{{this._id}}" data-root="{{this.root}}">{{this.name}}</option>
    {{/each}}
  </select>
</template>



<template name="listT">
  {{#each this.children}}
  
    {{#if hasChildren }}
      <div class="item">
      <div class="header"  id="{{_id}}">{{name}} 
        

      </div>
        <menu>
        {{> Template.dynamic template="listT" data=this }}
        </menu>
      </div>
    {{else}}
      <a class="item" id="{{_id}}">{{name}}</a>
    {{/if}}
  
  {{/each}}
</template>

<template name="singleT">
    
</template>