/* CSS declarations go here */

/*html,body {
  overflow:visible;
}*/

body {
  margin-left: 0;
  margin-top: -15px;
}
/*
#drag-1, #drag-2 {
  width: 25%;
  height: 100%;
  min-height: 6.5em;
  margin: 10%;

  background-color: #29e;
  color: white;

  border-radius: 0.75em;
  padding: 4%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}
*/

.dropzone {
  position: relative;
  background-color: #EEEEEE;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 100%;
  min-height: 300px;
  transition: background-color 0.3s;
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.dropzone legend{
  top: -8px;
  left: -5;
}

.drop-active {
  border-color: #aaa;
  z-index: 99;
}

.drop-target {
  background-color: #E0F0FF;
  border-color: #fff;
  border-style: solid;
  z-index: 99;
}

.drag-drop {
  display: inline-block;
  /*min-width: 40px; */
  padding: 0.5em 0.5em;
  background-color: #E0F0FF;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
  z-index: 999;
}

.editable {
  position: relative;
  display: inline-block;
  padding: 0.3em 0.3em;
  background:rgba(100,100,100,0.2);
  min-height: 30px;
  min-width: 30px;
}

.template {
  min-height: 50px;
  min-width: 50px;
}



.pusher {
  overflow: auto;
}

#splitter{
    height: 100%;
    width: 100%; 
}
.splitter-west{
  background-color: #eee;
  padding-left: 5px;
}

.splitter-east{
  /*width: 100% !important;
  height: 100% !important;*/
}

#addF {
  padding-left: 5px;
}
