<template name="listTemplatesForm">
  <table class="ui selectable celled table">
    <thead>
      <tr>
        <th>Parent</th>
        <th>Name</th>
        <th>Preview</th>
      </tr>
    </thead>
    <tbody>

      {{#each template}}
        <tr class="rowsel" id="row_{{_id}}" data-id="{{_id}}">
          <td>{{parentName}}</td>
          <td>{{name}}</td>
          <td>{{compiled}}</td>
        </tr>
      {{/each}}
      
    </tbody>
  </table>
  {{> modalForm}}
</template>

<template name="updateContainerForm">
  {{> quickForm collection="Containers" doc=this id="updateContainerForm" type="update"}}
</template>


<template name="updateTemplateForm">

  {{#autoForm collection="Templates"  doc=doc id="updateTemplateForm" type="update"}}
    <fieldset>
      <legend>Add a Template</legend>
      {{> afQuickField name='parent' options=options}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='content' rows=10}}
  <!--    {{> afQuickField name='visible' rows=2}} -->
      {{> afQuickField name='isContainer'}}
      {{> afQuickField name='design' }}
      {{> afQuickField name='data' }}
    </fieldset>
    <button type="submit" class="btn btn-primary">Update</button>
  {{/autoForm}}

  <div id="up">{{{compiled}}}</div>
  <div id="src">{{compiled}} {{json}}</div>
</template>

<template name="modalForm">
  <div class="ui modal" id="modalForm">
    <div class="header">Edit</div>
    <div class="content">
      <div>
          {{> updateTemplateForm}}
      </div>
    </div>
    <div class="actions">
      <div class="ui cancel button">Cancel</div>
    </div>
  </div>
</template>